:root {
    --primary-text-color: rgb(33, 33, 33);
    --accent-color: rgba(33, 150, 243, 1);
  }
  
  body {
    max-width: 1600px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 14px;
    color: var(--primary-text-color);
    background-color: rgba(255, 255, 255, 1);
    letter-spacing: 0.03em;
  }
  
  ul {
    list-style: none;
    padding-inline-start: 0px;
    margin-block-start: 0em;
    margin-block-end: 0em;
  }
  
  img {
    display: block; /* чтоб у картинки убрался маржин боттом */
    max-width: 100%; /* чтоб картинка не расширялась больше чем нужно */
  }
  
  h1,
  h2,
  h3,
  h4,
  p {
    margin: 0;
  }
  
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  /* Контейнер */
  
  .container {
    margin: 0 auto; /*будет по центру */
    max-width: 1170px; /*ширина контейнера 1200 но отнимаем паддинги 15+15 (1200-30=1170) */
    padding-left: 15px;
    padding-right: 15px;
    /* padding: 15px делает репета и тогда ставит ширину видз 1200рх*/
  }
  
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  
  /*шапка*/
  
  .header {
    max-width: 100%;
    height: 80px;
    border: 1px solid rgba(236, 236, 236, 1);
  }
  
  /* main-nav */
  
  .main-nav {
    display: flex;
    align-items: center;
  }
  
  .header-list {
    display: flex; /*ok */
    align-items: center;
    width: 281px;
    height: 16px;
    margin-left: 93px; /*ok*/
    margin-top: 32px;
    margin-bottom: 32px;
  }
  
  .header-list-item:not(:last-child) {
    margin-right: 50px;
  }
  
  .list-item {
    /* у строчных элементов не работает вертикальная геометрияЮ поэтому дисплей блок для ссылок делаем 
    тогда ссылка раздвигает ли и можно паддинг добавить , будет больше площадь куда нажать*/
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    /* это необязательно */
    color: rgb(33, 33, 33);
    text-decoration: none;
  }
  
  .header-list .list-item.current {
    color: var(--accent-color);
  }
  
  .list-item:hover,
  .header-list .list-item:focus {
    color: var(--accent-color);
  }
  
  .header-logo-link-1 {
    /* width: 145px;
    height: 31px; */
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 26px;
    line-height: 1.17;
    text-decoration: none;
    line-height: 1.17;
    text-decoration: none;
  }
  .logo {
    color: var(--accent-color);
    color: var(--accent-color);
  }
  
  .header-logo-link-1 {
    color: rgba(0, 0, 0, 1);
  }
  
  .contacts-list {
    display: flex;
    margin-left: auto; /*прижимает вправо до концф контейнера*/
  }
  
  .contacts-list-item:hover,
  .contacts-list-item:focus {
    color: var(--accnt-color);
  }
  
  .contacts-list-item + .contacts-list-item {
    margin-left: 40px;
  }
  
  .mail,
  .tel {
    color: rgba(117, 117, 117, 1);
    text-decoration: none;
  }
  
  .mail:hover,
  .tel:focus,
  .tel:hover .mail:focus {
    color: var(--accent-color);
  }
  
  /*Перший блок*/
  
  .main {
    padding-top: 200px;
    padding-bottom: 200px;
    background-color: rgba(47, 48, 58, 1);
  }
  
  .tittle {
    width: 696px;
    margin: 0 auto;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-bottom: 30px;
    /* height: 120px; */
    /* padding-left: 237px;
    padding-right: 237px; */
    /* align-content: center; */
    font-size: 44px;
    font-weight: 900;
    text-align: center;
    line-height: 1.36;
    text-transform: uppercase;
    letter-spacing: 0.06em;
    color: rgba(255, 255, 255, 1);
    outline: auto;
    /* background-color: teal; */
  }
  
  .button {
    margin: 0 auto;
    display: block;
    min-width: 200px;
    height: 50px;
    font-family: inherit;
    font-size: 16px;
    line-height: 1.88;
    font-weight: 700;
    letter-spacing: 0.06em;
    background: var(--accent-color);
    color: rgba(255, 255, 255, 1);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    border: 1px solid transparent;
    cursor: pointer;
  
    /* add padding?
    transparent border not obligatory
    display inline block
    это у нас не ссылка поэтому не нужно инлайн и паддинг */
  }
  
  .button:hover,
  button:focus {
    border-radius: 4px;
  }
  
  /* Features*/
  
  .features {
    margin-bottom: -94px;
  }
  
  .features-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    /* gap: 30px; */
    outline: 1px solid #2f303a;
  }
  
  .features-item {
    flex-basis: calc(100% / 4 - 30px);
    margin-left: 30px;
  }
  
  .features-text {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    color: rgba(117, 117, 117, 1);
  }
  
  .features-subtitle {
    margin-top: 0;
    margin-bottom: 10px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.2;
    text-transform: uppercase;
  }
  
  /*About*/
  
  .about-title,
  .team-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.2;
    text-align: center;
    margin: 0;
    margin-bottom: 50px;
  }
  
  .about-list {
    display: flex;
    flex-wrap: wrap;
    /* align-items: center; */
    /* gap: 30px;
    margin-top: 50px; */
    margin-left: -30px;
  }
  
  .about-list-item {
    flex-basis: calc(100% / 3 - 30px);
    margin-left: 30px;
  }
  
  /* Варіант: .about-list-item:not(:last-child) {
    margin-right: 30px;
  } */
  
  /*Team*/
  
  .team {
    background-color: #f5f4fa;
  }
  
  .team-list {
    margin: 0; /*reset */
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
  
  .team-list > .team-item {
    margin: 0; /*reset */
    padding: 0;
    flex-basis: calc(100% / 4 - 30px);
    margin-left: 30px;
    margin-top: 30px;
    border-bottom: 1px solid rgba(238, 238, 238, 1);
    background-color: #ffffff;
    border-radius: 0px, 0px, 4px, 4px;
    box-shadow: 0px 2px 1px 0px #00000033;
    box-shadow: 0px 1px 1px 0px #00000024;
    box-shadow: 0px 1px 3px 0px #0000001f;
  }
  
  .team-text-box {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  
  .team-text-box > p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    color: #757575;
    margin-block-end: 0;
    margin-block-start: 0;
  }
  
  .team-text-box > h3 {
    /* padding-top: 30px; */
    margin-block-end: 0;
    margin-block-start: 0;
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    color: #212121;
  }
  
  /* Footer */
  
  .footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background: #2f303a;
  }
  
  .footer-logo {
    margin-bottom: 28px;
  }
  
  .footer-logo-link-1 {
    width: 145px;
    height: 31px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 26px;
    line-height: 1.17;
  }
  .logo {
    color: var(--accent-color);
  }
  
  .footer-logo-link-1 {
    color: #ffffff;
    text-decoration: none;
  }
  
  .adress-list {
    margin-top: 28px;
    line-height: 1.7;
    font-style: normal;
  }
  
  .adress-list-mail,
  .adress-list-tel {
    font-weight: 400;
    line-height: 1.7;
    letter-spacing: 0.03em;
    text-align: left;
    text-decoration: none;
    color: rgb(255, 255, 255, 0.6);
  }
  
  .adress-list-mail {
    padding-bottom: 12px;
  }
  
  .adress-list-item-place {
    color: #ffffff;
    padding-bottom: 12px;
    text-decoration: none;
    gap: 12px;
  }
  
  /*------------------------------------------------------------ Portfolio -------------------------------*/
  
  /* Button section */
  .button-list {
    display: flex;
    /* margin-top: 94px; */
    justify-content: center;
    gap: 8px;
    margin-bottom: 34px;
  }
  
  .button-list-item {
    height: 38px;
    border-radius: 4px;
    background: var(--accent-color);
    font-family: inherit;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    letter-spacing: 0.03em;
    background-color: #f5f4fa;
    border: 1px solid rgba(238, 238, 238, 1);
    border-radius: 4px;
  }
  
  .button-list-item:hover,
  .button-list-item:focus {
    background-color: var(--accent-color);
    color: rgba(255, 255, 255, 1);
  }
  
  /* Portfolio List Section */
  
  .portfolio {
    border: 1px solid rgba(238, 238, 238, 1);
    /* margin-left: -30px; */
  }
  
  .card-set {
    margin: 0; /*reset */
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between;  */
    /* margin-right: 0px; */
    margin-left: -30px;
    margin-top: -30px;
  }
  
  .card-set > .card-set-item {
    margin: 0; /*reset */
    padding: 0;
    flex-basis: calc(100% / 3 - 30px);
    /*тоже самое что и ширина , хотим 3 колонки чтоб всега было */
    margin-left: 30px;
    margin-top: 30px;
    border-bottom: 1px solid rgba(238, 238, 238, 1);
  }
  
  .text-box {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 24px;
    padding-right: 24px;
  }
  
  .portfolio-title {
    margin-block-end: 0;
    margin-block-start: 0;
    font-size: 18px;
    font-weight: 700;
    line-height: 2;
    letter-spacing: 0.06em;
    text-align: left;
  }
  
  .portfolio-text {
    margin-block-end: 0;
    margin-block-start: 0;
    margin-top: 4px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.88;
    text-align: left;
    color: rgba(117, 117, 117, 1);
  }
  